{%extends 'base.html'%} {%block title%}Add Blog | GreatAPI{%endblock%} {%block
body%} {%include 'sidebar.html'%}

<main class="w-full h-full rounded-2xl flex flex-col gap-2 xxl:gap-3">
  {%include 'navbar.html'%}

  <div class="w-full h-full overflow-y-scroll px-0.5">
    <div class="flex items-center gap-3 py-4 overflow-y-auto whitespace-nowrap">
      <a href="{{ '/admin' }}" class="text-blacktwo text-sm font-medium"
        >Dashboard</a
      >
      <span class="text-blacktwo">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      <a
        href="{{ '/admin/%s' % group_name }}"
        class="text-blacktwo text-sm font-medium"
        >Group</a
      >
      <span class="text-blacktwo">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      <a
        href="{{ '/admin/%s/%s' % (group_name, group_item) }}"
        class="text-blacktwo text-sm font-medium"
        >Blogs</a
      >
      <span class="text-blacktwo">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      <a
        href="{{ '/admin/%s/%s/%s' % (group_name, group_item, id) }}"
        class="text-primary text-sm font-medium"
        >Add Blog</a
      >
    </div>
    <!-- ends -->

    <div
      class="w-full flex flex-wrap xl:flex-nowrap gap-2 gap-y-8 xxl:gap-4 pb-4"
    >
      <div class="max-w-lg xxl:max-w-xl mx-auto w-full">
        <form
          action="/admin/add_item/test"
          method="Post"
          class="flex flex-col gap-4"
        >
          <h1 class="text-lg text-blacktwo font-bold">Add Blog</h1>
          <!-- <div>
            <label for="category" class="text-sm font-medium text-blacktwo">Category</label>
            <select id="category" name="Category" required
              class="mt-1 block w-full h-12 px-3 font-medium text-shadeblack tracking-wider border-0 bg-white rounded-md outline-none focus:ring-primary/70 text-sm">
              <option class="text-blacktwo font-medium">Select</option>
              <option class="text-blacktwo font-medium">Category one</option>
              <option class="text-blacktwo font-medium">Category two</option>
            </select>
          </div> -->

          <div>
            <label for="title" class="text-sm font-medium text-blacktwo">
              Name
            </label>
            <input
              type="text"
              name="name"
              id="title"
              required
              placeholder="Enter title"
              class="mt-1 block w-full h-12 px-3 font-medium text-shadeblack tracking-wider border-0 bg-white rounded-md outline-none focus:ring-primary/70 text-sm"
            />
          </div>
          <div>
            <label for="price" class="text-sm font-medium text-blacktwo">
              Price
            </label>
            <input
              type="number"
              name="price"
              id="price"
              required
              placeholder="Enter title"
              class="mt-1 block w-full h-12 px-3 font-medium text-shadeblack tracking-wider border-0 bg-white rounded-md outline-none focus:ring-primary/70 text-sm"
            />
          </div>

          <!-- <div>
            <label for="slug" class="text-sm font-medium text-blacktwo">
              Slug
            </label>
            <input type="text" name="slug" id="slug" required placeholder="Enter slug"
              class="mt-1 block w-full h-12 px-4 font-medium text-shadeblack tracking-wider border-0 bg-white rounded-md outline-none focus:ring-primary/70 text-sm" />
          </div> -->

          <!-- <div>
            <label for="date" class="text-sm font-medium text-blacktwo">
              Date
            </label>

            <div class="relative w-full">
              <input type="date" name="date" id="date" required placeholder="MM/DD/YYYY"
                class="mt-1 uppercase block w-full h-12 px-3 pr-24 font-medium text-shadeblack tracking-wider border-0 bg-white rounded-md outline-none focus:ring-primary/70 text-sm" />
              <div class="absolute inset-y-0 right-3 flex items-center gap-4 cursor-pointer">
                <span class="flex justify-center items-center cursor-pointer text-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 512 512">
                    <title>Calendar</title>
                    <rect fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32" x="48" y="80"
                      width="416" height="384" rx="48" />
                    <circle cx="296" cy="232" r="24" fill="currentColor" />
                    <circle cx="376" cy="232" r="24" fill="currentColor" />
                    <circle cx="296" cy="312" r="24" fill="currentColor" />
                    <circle cx="376" cy="312" r="24" fill="currentColor" />
                    <circle cx="136" cy="312" r="24" fill="currentColor" />
                    <circle cx="216" cy="312" r="24" fill="currentColor" />
                    <circle cx="136" cy="392" r="24" fill="currentColor" />
                    <circle cx="216" cy="392" r="24" fill="currentColor" />
                    <circle cx="296" cy="392" r="24" fill="currentColor" />
                    <path fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"
                      stroke-linecap="round" d="M128 48v32M384 48v32" />
                    <path fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32" d="M464 160H48" />
                  </svg>
                </span>
                <span class="flex justify-center items-center cursor-pointer text-sm text-primary font-bold" onclick="getCurrentDate(event)">
                  Today
                </span>
              </div>
            </div>

            <div class="relative w-full mt-2">
              <input type="time" name="date" id="time" required placeholder="00:00"
                class="mt-1 uppercase block w-full h-12 px-3 pr-24 font-medium text-shadeblack tracking-wider border-0 bg-white rounded-md outline-none focus:ring-primary/70 text-sm" />
              <div class="absolute inset-y-0 right-3 flex items-center gap-4 cursor-pointer">
                <span class="flex justify-center items-center cursor-pointer text-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 512 512">
                    <path d="M256 64C150 64 64 150 64 256s86 192 192 192 192-86 192-192S362 64 256 64z" fill="none"
                      stroke="currentColor" stroke-miterlimit="10" stroke-width="32" />
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="32" d="M256 128v144h96" />
                  </svg>
                </span>
                <span class="flex justify-center items-center cursor-pointer text-sm text-primary font-bold" onclick="getCurrentTime(event)">
                  Now
                </span>
              </div>
            </div>
          </div> -->
          <!--
          <div>
            <label for="body" class="text-sm font-medium text-blacktwo">
              Body
            </label>
            <textarea type="text" name="body" id="body" required placeholder="Enter text"
              class="mt-1 block w-full h-32 px-3 font-medium text-shadeblack tracking-wider border-0 bg-white rounded-md outline-none focus:ring-primary/70 text-sm"></textarea>
          </div> -->

          <!-- <div>
            <label for="thumbnail" class="text-sm font-medium text-blacktwo">
              Thumbnail
            </label>
            <div class="relative mt-1 bg-white flex justify-center px-6 py-8 rounded-md">
              <div class="space-y-1 text-center">
                <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48"
                  aria-hidden="true">
                  <path
                    d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <div class="flex text-sm text-gray-600">
                  <label class="cursor-pointer w-full h-full outline-none">
                    <span class="w-full h-full absolute inset-0"></span>
                    <input  id="thumbnail" name="file-upload" type="file" draggable="true" required class="sr-only" />
                    <p class="text-sm font-medium text-shadeblack mt-2">
                      Upload or Select Image
                    </p>
                  </label>
                </div>
              </div>
            </div>
          </div> -->

          <!-- <div>
            <label for="status" class="text-sm font-medium text-blacktwo">
              Status
            </label>
            <div class="flex flex-col gap-2 mt-1">
              <div class="flex items-center gap-3">
                <input id="draft" name="draft" type="radio" required
                  class="focus:ring-0 h-5 w-5 text-primary border-primary" />
                <label for="draft" class="block text-sm font-medium text-shadeblack">
                  Draft
                </label>
              </div>
              <div class="flex items-center gap-3">
                <input id="published" name="draft" required type="radio"
                  class="focus:ring-0 h-5 w-5 text-primary border-primary" />
                <label for="published" class="block text-sm font-medium text-shadeblack">
                  Published
                </label>
              </div>
            </div>
          </div> -->

          <div class="flex items-start gap-3 mt-2">
            <input
              id="pinpost"
              name="on_offer"
              type="checkbox"
              required
              class="w-5 h-5 rounded-md border-primary outline-none focus:ring-0 appearance-none checked:bg-primary"
              required
            />
            <label for="pinpost" class="text-sm font-medium text-blacktwo">
              On offer
            </label>
          </div>

          <div
            class="w-full flex justify-between items-center flex-wrap sm:flex-nowrap gap-4 mt-4"
          >
            <button
              type="button"
              class="w-full sm:w-1/4 p-3 bg-white text-lg text-danger font-bold flex justify-center items-center gap-2 rounded-lg"
            >
              Cancel
            </button>

            <button
              type="button"
              class="w-full sm:w-2/4 p-3 bg-white text-lg text-primary font-bold flex justify-center items-center gap-2 rounded-lg"
            >
              Save & Add Another
            </button>

            <button
              type="submit"
              class="w-full sm:w-1/4 p-3 bg-white text-lg text-success font-bold flex justify-center items-center gap-2 rounded-lg"
            >
              Save
            </button>
          </div>
          <!-- ends -->
        </form>
      </div>
    </div>
  </div>
</main>

{%endblock%}
