{%extends 'base.html'%} {%block title%}Group | GreatAPI{%endblock%} {%block
body%} {%include 'sidebar.html'%}
<!-- ends -->

<main class="w-full h-full rounded-2xl flex flex-col gap-2 xxl:gap-3">
  {%include 'navbar.html'%}

  <div class="w-full h-full overflow-y-scroll px-0.5">
    <div class="flex items-center gap-3 py-4 overflow-y-auto whitespace-nowrap">
      <a href="{{ '/admin' }}" class="text-blacktwo text-sm font-medium"
        >Dashboard</a
      >

      <span class="text-blacktwo">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      <a
        href="{{ '/admin/%s' % group_name }}"
        class="text-primary text-sm font-medium"
        >{{group_name}}</a
      >
    </div>
    <!-- ends -->

    <div class="w-full flex flex-wrap xl:flex-nowrap gap-2 gap-y-8 xxl:gap-4">
      <div class="w-full xl:w-2/3 h-full grid grid-cols-1 gap-3">
        <div class="block relative w-full h-fit">
          <input
            type="search"
            name="search"
            id="searchInput"
            placeholder="Search contents.."
            class="w-full h-12 px-4 pl-10 tracking-wider font-medium text-shadeblack bg-white rounded-lg outline-none border-0 focus:ring-1 focus:ring-primary/70 duration-300"
          />
          <span
            class="absolute inset-y-0 left-2 flex justify-center items-center cursor-pointer"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6 stroke-shadeblack"
              viewBox="0 0 512 512"
            >
              <path
                d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z"
                fill="none"
                stroke-miterlimit="10"
                stroke-width="30"
              />
              <path
                fill="none"
                stroke-linecap="round"
                stroke-miterlimit="10"
                stroke-width="30"
                d="M338.29 338.29L448 448"
              />
            </svg>
          </span>
        </div>
        {%for item in items%}
        <a href="{{ '%s/%s' % (group_name, item.name) }}">
          <div
            class="w-full bg-white p-4 flex justify-between rounded-2xl cursor-pointer"
          >
            <div class="flex flex-col gap-3">
              <h3 class="font-bold text-blacktwo">{{item.name}}</h3>
              {%if item.total_count is not none %}
              <h6 class="text-xs xxl:text-sm font-medium text-shadeblack">
                Total articles:
                <span class="font-semibold text-blacktwo">
                  {{item.total_count}}
                </span>
              </h6>
              {%endif%}
            </div>
          </div>
        </a>
        {%endfor%}
      </div>
    </div>
  </div>
</main>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const searchInput = document.getElementById("searchInput");
    const groups = document.querySelectorAll(".w-full.bg-white.p-4"); // Modify this selector to target the elements that represent the groups.

    searchInput.addEventListener("keypress", function (event) {
      if (event.key === "Enter") {
        const searchText = event.target.value.toLowerCase();
        groups.forEach((group) => {
          const groupName = group.querySelector(".font-bold.text-blacktwo")
            .innerText.toLowerCase();
          if (groupName.includes(searchText)) {
            group.style.display = "block";
          } else {
            group.style.display = "none";
          }
        });
      }
    });
  });
</script>

{%endblock%}
