{%extends 'base.html'%} {%block title%}History | Great
API{%endblock%} {%block body%} {%include 'sidebar.html'%}
<!-- ends -->

<main class="w-full h-full rounded-2xl flex flex-col gap-2 xxl:gap-3">
  {%include 'navbar.html'%}

  <div class="w-full h-full overflow-y-scroll">
    <div class="flex items-center gap-3 py-4 overflow-y-auto whitespace-nowrap">
      <a class="text-blacktwo text-sm font-medium">History</a>

    </div>
    <!-- ends -->
    <div class="w-full flex flex-wrap xl:flex-nowrap gap-2 gap-y-8 xxl:gap-4">
      <div class="w-full xl:w-2/3 h-full">
        <div class="block relative w-full h-fit">
          <input type="search" name="search" id="item-search" placeholder="Search history.."
            class="w-full h-12 px-4 pl-10 tracking-wider font-medium text-shadeblack bg-white rounded-lg outline-none border-0 focus:ring-1 focus:ring-primary/70 duration-300" />
          <span class="absolute inset-y-0 left-2 flex justify-center items-center cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 stroke-shadeblack" viewBox="0 0 512 512">
              <path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none"
                stroke-miterlimit="10" stroke-width="30" />
              <path fill="none" stroke-linecap="round" stroke-miterlimit="10" stroke-width="30"
                d="M338.29 338.29L448 448" />
            </svg>
          </span>
        </div>

        <div class="flex flex-col gap-3">
          <div class="mt-8">
            {%for item in history_items%}
            <div class="flex items-start gap-4 bg-white p-4 rounded-lg my-2">
              {%if item.category == 'edit'%}
              <div
                class="w-10 h-10 flex justify-center items-center rounded-lg bg-shadegray text-warning cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 512 512">
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="32"
                    d="M364.13 125.25L87 403l-23 45 44.99-23 277.76-277.13-22.62-22.62zM420.69 68.69l-22.62 22.62 22.62 22.63 22.62-22.63a16 16 0 000-22.62h0a16 16 0 00-22.62 0z" />
                </svg>
              </div>
              <div>
                <h4 class="text-blacktwo font-semibold">{{item.name}}</h4>
                <h6 class="text-xs xxl:text-sm font-medium text-shadeblack">
                  {{item.created_date}}
                </h6>
              </div>
              {%elif item.category == 'create'%}
              <div
                class="w-10 h-10 flex justify-center items-center rounded-lg text-success bg-shadegray cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 512 512">
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="32" d="M416 128L192 384l-96-96" />
                </svg>
              </div>
              <div>
                <h4 class="text-blacktwo font-semibold">{{item.name}}</h4>
                <h6 class="text-xs xxl:text-sm font-medium text-shadeblack">
                  {{item.created_date}}
                </h6>
              </div>

              {%else%}
              <div
              class="w-10 h-10 flex justify-center items-center rounded-lg text-danger bg-shadegray cursor-pointer">

            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
            </div>
            <div>
              <h4 class="text-blacktwo font-semibold">{{item.name}}</h4>
              <h6 class="text-xs xxl:text-sm font-medium text-shadeblack">
                {{item.created_date}}
              </h6>
            </div>
            {%endif%}
            </div>

            {%endfor%}
          </div>
        </div>

        <div class="flex gap-2 mt-8 justify-between sm:justify-end">
          <a onclick="prevPage()"
            class="px-4 py-2 font-semibold text-blacktwo hover:text-white bg-white hover:bg-primary duration-300 rounded-md sm:inline cursor-not-allowed">
            <div class="flex items-center -mx-1">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 512 512">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
                  d="M328 112L184 256l144 144" />
              </svg>

              <span class="mx-1">Prev</span>
            </div>
          </a>


          <a onclick="nextPage()"
            class="px-4 py-2 font-semibold text-blacktwo hover:text-white bg-white hover:bg-primary duration-300 rounded-md sm:inline">
            <div class="flex items-center -mx-1">
              <span class="mx-1"> Next </span>

              <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 512 512">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
                  d="M184 112l144 144-144 144" />
              </svg>
            </div>
          </a>
        </div>
      </div>
      <!-- ends -->
      <div class="w-full xl:w-1/3 h-fit bg-white p-4 rounded-2xl flex flex-col gap-4">
        <div class="flex justify-between items-center">
          <h3 class="text-lg font-semibold text-blacktwo">Filter</h3>
        </div>

        <hr class="border-shadeblack/30" />

        <div class="flex flex-col gap-3">
          <div class="flex flex-col gap-2">
            <h2 class="text-lg font-semibold text-blacktwo">Category</h2>
            <ul class="flex flex-col gap-1">
              <li>
                <a onclick="changeCategory('all_category')" class="text-shadeblack font-medium">All</a>
              </li>
              <li>
                <a onclick="changeCategory('create')" class="text-shadeblack font-medium">Create</a>
              </li>
              <li>
                <a onclick="changeCategory('edit')" class="text-shadeblack font-medium">Edit</a>
              </li>
              <li>
                <a onclick="changeCategory('delete')" class="text-shadeblack font-medium">Delete</a>
              </li>
            </ul>
          </div>
          <div class="flex flex-col gap-2">
            <h2 class="text-lg font-semibold text-blacktwo">Date</h2>
            <ul class="flex flex-col gap-1">
              <li>
                <a onclick="changeDateFilter('all_date')" class="text-shadeblack font-medium">All</a>
              </li>
              <li>
                <a onclick="changeDateFilter('today')" class="text-shadeblack font-medium">Today</a>
              </li>
              <li>
                <a onclick="changeDateFilter('week')" class="text-shadeblack font-medium">This Week</a>
              </li>
              <li>
                <a onclick="changeDateFilter('month')" class="text-shadeblack font-medium">This Month</a>
              </li>
              <li>
                <a onclick="changeDateFilter('year')" class="text-shadeblack font-medium">This Year</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<script>
  let currentPage = parseInt(new URLSearchParams(window.location.search).get('page') || 1);
  let name = new URLSearchParams(window.location.search).get('name') || "all_history";
  let category = new URLSearchParams(window.location.search).get('category') || "all_category";
  let date_filter = new URLSearchParams(window.location.search).get('date_filter') || "all_date";


  function nextPage() {
    window.location.href = `/admin/history?page=${currentPage + 1}&name=${name}&category=${category}&date_filter=${date_filter}`;

  }

  function prevPage() {
    // go previous only when currentPage > 1
    if (currentPage > 1) {
      window.location.href = `/admin/history?page=${currentPage - 1}&name=${name}&category=${category}&date_filter=${date_filter}`;

    }
  }

  function changeCategory(new_category)  {
    category = new_category;
    currentPage = 1;
    window.location.href = `/admin/history?page=${currentPage}&name=${name}&category=${category}&date_filter=${date_filter}`;
  }

  function changeDateFilter(new_date_filter) {
    date_filter = new_date_filter;
    currentPage = 1;
    window.location.href = `/admin/history?page=${currentPage}&name=${name}&category=${category}&date_filter=${date_filter}`;
  }

  document.addEventListener("DOMContentLoaded", function () {
    const searchInput = document.getElementById("item-search");

    searchInput.addEventListener("keypress", function (event) {
      if (event.key === "Enter") {
        const searchText = event.target.value.toLowerCase();
        name = searchText;
        currentPage = 1;
        window.location.href = `/admin/history?page=${currentPage}&name=${name}&category=${category}&date_filter=${date_filter}`;
      }
    });
  });
</script>

</script>

{%endblock%}
