{%extends 'base.html'%} {%block title%}GreatAPI{%endblock%}
{%block body%} {%include 'sidebar.html'%}

<main class="w-full h-full rounded-2xl flex flex-col gap-2 xxl:gap-3">
  {%include 'navbar.html'%}
  <div class="w-full h-full overflow-y-scroll">
    <div class="flex items-center gap-3 py-4 overflow-y-auto whitespace-nowrap">
      <a href="{{ '/admin' }}" class="text-blacktwo text-sm font-medium">Dashboard</a>
    </div>
    <div class="w-full flex flex-wrap xl:flex-nowrap gap-2 gap-y-8 xxl:gap-4">
      <div class="w-full xl:w-2/3 h-full grid grid-cols-1 xs:grid-cols-2 xxl:grid-cols-3 gap-3">
        {%for group in groups%}
        <a href="{{ '/admin/%s' % group.name }}">
          <div class="w-full bg-white p-4 flex justify-between rounded-2xl cursor-pointer">
            <div class="flex flex-col gap-3">
              <h3 class="font-bold text-blacktwo">{{group.name}}</h3>
              <h6 class="text-xs xxl:text-sm font-medium text-shadeblack">
                Total User:
                <span class="font-semibold text-blacktwo">{{group.total_count}}</span>
              </h6>
            </div>

          </div>
        </a>
        {%endfor%}
      </div>

    <div class="w-full xl:w-1/3 h-fit bg-white p-4 rounded-2xl flex flex-col gap-4">
        <div class="flex justify-between items-center">
          <h3 class="text-lg font-semibold text-blacktwo">History</h3>
          <a href="{{ 'admin/history' }}">
            <h6 class="text-sm font-medium text-primary cursor-pointer">
              View All
            </h6>
          </a>
        </div>


        <hr class="border-shadeblack/30" />

        <div class="flex flex-col gap-1">
          {%for item in history_items%}
          <div class="flex items-start gap-2 bg-white p-2 rounded-lg my-2">
            {%if item.category == 'edit'%}
            <div
              class="flex justify-center items-center rounded-lg bg-shadegray text-warning cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 512 512">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="32"
                  d="M364.13 125.25L87 403l-23 45 44.99-23 277.76-277.13-22.62-22.62zM420.69 68.69l-22.62 22.62 22.62 22.63 22.62-22.63a16 16 0 000-22.62h0a16 16 0 00-22.62 0z" />
              </svg>
            </div>
            <div>
              <h4 class="text-blacktwo font-semibold">{{item.name}}</h4>
            </div>
            {%elif item.category == 'create'%}
            <div
              class="flex justify-center items-center rounded-lg text-success bg-shadegray cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 512 512">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="32" d="M416 128L192 384l-96-96" />
              </svg>
            </div>
            <div>
              <h4 class="text-blacktwo font-semibold">{{item.name}}</h4>
            </div>

            {%else%}
            <div
            class="flex justify-center items-center rounded-lg text-danger bg-shadegray cursor-pointer">

          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
          </div>
          <div>
            <h4 class="text-blacktwo font-semibold">{{item.name}}</h4>
          </div>
          {%endif%}
          </div>

          {%endfor%}
        </div>
      </div>
    </div>
  </div>
</main>

{%endblock%}
