<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{%block title%}{%endblock%}</title>
  <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>


<body>
  <section class="w-full h-screen flex justify-center items-center p-2">
    <main class="max-w-md w-full flex flex-col gap-6">
      <div class="flex justify-center items-center">
        <img src="{{ url_for('static', path='/logo.svg') }}" alt="" class="w-52" />
      </div>
      <div class="bg-white px-3 sm:px-4 py-8 rounded-3xl">
        <h2 class="text-xl text-center font-extrabold">Log In</h2>
        <form class="flex flex-col gap-4 mt-8">
          <div>
            <input type="text" name="Username" id="username" placeholder="Username"
              class="w-full h-12 px-4 tracking-wider font-medium text-shadeblack bg-shadegray rounded-lg outline-none border-0 focus:ring-1 focus:ring-primary/70 duration-300" />
          </div>

          <div class="relative select-none">
            <input type="password" name="Password" id="user-password-login" placeholder="Password"
              class="w-full h-12 px-4 pr-12 tracking-wider font-medium text-shadeblack bg-shadegray rounded-lg outline-none border-0 focus:ring-1 focus:ring-primary/70 duration-300" />
            <span class="absolute inset-y-0 right-4 flex justify-center items-center cursor-pointer" id="eye" onclick="togglePassword('user-password-login')">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 stroke-shadeblack" viewBox="0 0 512 512">
                <path
                  d="M255.66 112c-77.94 0-157.89 45.11-220.83 135.33a16 16 0 00-.27 17.77C82.92 340.8 161.8 400 255.66 400c92.84 0 173.34-59.38 221.79-135.25a16.14 16.14 0 000-17.47C428.89 172.28 347.8 112 255.66 112z"
                  fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="40" />
                <circle cx="256" cy="256" r="80" fill="none" stroke-miterlimit="10" stroke-width="40" />
              </svg>
            </span>
          </div>

          <div class="mt-2">
            <button type="button" id="login-button" class="w-full h-12 bg-primary text-white text-lg font-bold rounded-xl">
              Log In
            </button>
          </div>
        </form>
      </div>
      <div class="text-center">
        <h6 class="text-shadeblack font-medium" id="date"></h6>
      </div>
    </main>
  </section>
</body>
<script>

  let id = document.getElementById("date");
  var date = new Date().getFullYear();

  id.innerHTML = `© ${date}. <b>GreatAPI</b>`;
  document.addEventListener('DOMContentLoaded', () => {
    // The DOM content has loaded, now you can access the elements safely.
    const loginButton = document.getElementById('login-button');
    loginButton.addEventListener('click', performLogin);
  });

  function performLogin() {
    const username = document.getElementById('username').value;
    const password = document.getElementById('user-password-login').value;

    const formData = new URLSearchParams();
    formData.append('username', username);
    formData.append('password', password);

    fetch('/admin_login', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded',
      },
      body: formData,
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.access_token === undefined) {
          console.error('Login failed: No access_token received');
          // Handle login failure, show error message, etc.
        } else {
          const access_token = data.access_token; // Access the access_token directly

          // Store the access token in localStorage for future authenticated API calls.
          localStorage.setItem('access_token', access_token);

          // Redirect to the dashboard or another page after successful login.
          window.location.href = '/admin';
        }

      })
      .catch((error) => {
        console.error('Login failed:', error);
        // Handle login failure, show error message, etc.
      });
  }


</script>
<script src="{{ url_for('static', path='/main.js') }}"></script>

</html>
