{%extends 'base.html'%}
{%block title%}Edit Account | Great AP{%endblock%}
{%block body%}
{%include 'sidebar.html'%}
<!-- ends -->

<main class="w-full h-full rounded-2xl flex flex-col gap-2 xxl:gap-3">
  {%include 'navbar.html'%}

  <div class="w-full h-full overflow-y-scroll px-0.5">
    <div class="flex items-center gap-3 py-4 overflow-y-auto whitespace-nowrap">
      <a href="#" class="text-blacktwo text-sm font-medium">Dashboard</a>
      <span class="text-blacktwo">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd" />
        </svg>
      </span>
      <a href="#" class="text-blacktwo text-sm font-medium">Group</a>
      <span class="text-blacktwo">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd" />
        </svg>
      </span>
      <a href="#" class="text-blacktwo text-sm font-medium">Blogs</a>
      <span class="text-blacktwo">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd" />
        </svg>
      </span>
      <a href="#" class="text-primary text-sm font-medium">Add Blog</a>
    </div>
    <!-- ends -->

    <div class="w-full flex flex-wrap xl:flex-nowrap gap-2 gap-y-8 xxl:gap-4 pb-4">
      <div class="max-w-lg xxl:max-w-xl mx-auto w-full">
        <form action="" class="flex flex-col gap-4">
          <h3 class="text-lg text-blacktwo font-bold">
            Edit Your Details
            </h1>

            <div>
              <label for="fullname" class="text-sm font-medium text-blacktwo">
                Full Name
              </label>
              <input type="text" name="fullname" id="fullname" required placeholder="Enter name"
                class="mt-1 block w-full h-12 px-3 font-medium text-shadeblack tracking-wider border-0 bg-white rounded-md outline-none focus:ring-primary/70 text-sm" />
            </div>

            <div>
              <label for="username" class="text-sm font-medium text-blacktwo">
                Username
              </label>
              <input type="text" name="username" id="username" required placeholder="Enter username"
                class="mt-1 block w-full h-12 px-4 font-medium text-shadeblack tracking-wider border-0 bg-white rounded-md outline-none focus:ring-primary/70 text-sm" />
            </div>

            <div>
              <label for="email" class="text-sm font-medium text-blacktwo">
                Email
              </label>
              <input type="email" name="email" id="email" required placeholder="Enter email"
                class="mt-1 block w-full h-12 px-4 font-medium text-shadeblack tracking-wider border-0 bg-white rounded-md outline-none focus:ring-primary/70 text-sm" />
            </div>

            <div>
              <label for="number" class="text-sm font-medium text-blacktwo">
                Mobile Number
              </label>
              <input type="tel" name="number" id="number" required placeholder="Enter mobile number"
                class="mt-1 block w-full h-12 px-4 font-medium text-shadeblack tracking-wider border-0 bg-white rounded-md outline-none focus:ring-primary/70 text-sm" />
            </div>

            <div class="w-full flex justify-between items-center flex-wrap sm:flex-nowrap gap-4 mt-4">
              <button type="button"
                class="w-full p-3 bg-white text-lg text-blacktwo font-bold flex justify-center items-center gap-2 rounded-lg">
                Cancel
              </button>

              <button type="submit"
                class="w-full p-3 bg-primary text-lg text-white font-bold flex justify-center items-center gap-2 rounded-lg">
                Save Change
              </button>
            </div>
            <!-- ends -->
        </form>
      </div>
    </div>
  </div>
</main>


{%endblock%}
