<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', path='/favicon.ico') }}"
    />
    <title>{%block title%}{%endblock%}</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  </head>

  <body>
    <section class="w-full h-screen flex gap-2 xxl:gap-3 p-2 xxl:p-3">
      {%block body%} {%endblock%}

   <!--
    <main class="fixed right-4 bottom-4 w-fit sm:max-w-sm sm:w-full bg-white p-3 sm:p-4 rounded-2xl z-10 flex items-center gap-4 duration-300 border border-success/30" >
        <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 fill-success" viewBox="0 0 512 512">
            <path
            d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm108.25 138.29l-134.4 160a16 16 0 01-12 5.71h-.27a16 16 0 01-11.89-5.3l-57.6-64a16 16 0 1123.78-21.4l45.29 50.32 122.59-145.91a16 16 0 0124.5 20.58z" />
        </svg>
        </div>
        <div>
        <h4 class="text-lg text-success font-bold">Success</h4>
        <h6 class="text-sm text-blacktwo">Your change has been applied.</h6>
        </div>
    </main>

    <main
        class="fixed right-4 bottom-4 max-w-sm w-full bg-white p-4 rounded-2xl z-10 flex items-center gap-4 duration-300 border border-danger/30 hidden">
        <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 fill-danger" viewBox="0 0 512 512">
            <path
            d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm75.31 260.69a16 16 0 11-22.62 22.62L256 278.63l-52.69 52.68a16 16 0 01-22.62-22.62L233.37 256l-52.68-52.69a16 16 0 0122.62-22.62L256 233.37l52.69-52.68a16 16 0 0122.62 22.62L278.63 256z" />
        </svg>
        </div>
        <div>
        <h4 class="text-lg text-danger font-bold">Error</h4>
        <h6 class="text-sm text-blacktwo">Please try again.</h6>
        </div>
    </main>

    <main
        class="fixed right-4 bottom-4 max-w-sm w-full bg-white p-4 rounded-2xl z-10 flex items-center gap-4 duration-300 border border-warning/30 hidden">
        <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 fill-warning" viewBox="0 0 512 512">
            <path
            d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm0 319.91a20 20 0 1120-20 20 20 0 01-20 20zm21.72-201.15l-5.74 122a16 16 0 01-32 0l-5.74-121.94v-.05a21.74 21.74 0 1143.44 0z" />
        </svg>
        </div>
        <div>
        <h4 class="text-lg text-warning font-bold">Warning</h4>
        <h6 class="text-sm text-blacktwo">Please check again.</h6>
        </div>
    </main>
    -->

      <script>
        // Function to check if the user is an admin or not
        async function checkAdmin() {
          const access_token = localStorage.getItem('access_token');
          if (access_token) {
            try {
              const headersList = {
                Accept: '*/*',
                'Content-Type': 'application/x-www-form-urlencoded',
              };

              const bodyContent = 'access_token=' + encodeURIComponent(access_token); // Encode the token

              const response = await fetch('/admin/check_admin', {
                method: 'POST',
                body: bodyContent,
                headers: headersList,
              });

              const data = await response.json();

              if (data.is_admin === true) {
                // User is an admin, continue with the normal page rendering
              } else {
                // User is not an admin, redirect to the login page
                window.location.href = '/admin/login';
              }
            } catch (error) {
              console.error('Error checking admin:', error);
              // Handle error as needed
            }
          } else {
            // Redirect to the login page if access_token is not found
            window.location.href = '/admin/login';
          }
        }

        // Call the checkAdmin function when the page is loaded
        window.onload = checkAdmin;
      </script>


    </section>
    <script src="{{ url_for('static', path='/main.js') }}"></script>
  </body>
</html>
