<main
  id="menu-box"
  class="absolute z-10 hidden lg:static lg:block h-full w-fit rounded-2xl bg-white p-3"
>
  <div class="flex-col justify-between gap-4  w-60 h-full flex">
    <div
      onclick="toggleMenu()"
      class="absolute right-4 w-8 h-8 bg-primary/10 rounded-lg text-primary lg:hidden flex justify-center items-center"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-5 h-5"
        viewBox="0 0 512 512"
      >
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="32"
          d="M368 368L144 144M368 144L144 368"
        />
      </svg>
    </div>
    <div class="flex flex-col gap-6">
      <a href="/admin" class="mt-6">
        <div class="flex justify-center items-center">
          <img
            src="{{ url_for('static', path='/logo.svg') }}"
            alt=""
            class="w-2/3"
          />
        </div>
      </a>
      <div class="w-full flex flex-col">
        <a href="{{ '/admin' }}">
          <div
            class="flex items-center gap-5 {% if active == 'dashboard' %} bg-shadeblue stroke-primary text-primary {%else%} stroke-blacktwo text-blacktwo {%endif%} px-4 xxl:px-6 py-3 xxl:py-4 rounded-lg cursor-pointer"
          >
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6"
                viewBox="0 0 512 512"
              >
                <rect
                  x="48"
                  y="48"
                  width="176"
                  height="176"
                  rx="20"
                  ry="20"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="30"
                />
                <rect
                  x="288"
                  y="48"
                  width="176"
                  height="176"
                  rx="20"
                  ry="20"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="30"
                />
                <rect
                  x="48"
                  y="288"
                  width="176"
                  height="176"
                  rx="20"
                  ry="20"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="30"
                />
                <rect
                  x="288"
                  y="288"
                  width="176"
                  height="176"
                  rx="20"
                  ry="20"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="30"
                />
              </svg>
            </span>
            <h2 class="font-semibold tracking-widest">Dashboard</h2>
          </div>
        </a>
        <!--<a href="{{ '/admin/visualization' }}">
          <div
            class="flex items-center gap-5 {% if active == 'visualization' %} bg-shadeblue stroke-primary text-primary {%else%} stroke-blacktwo text-blacktwo {%endif%} px-4 xxl:px-6 py-3 xxl:py-4 rounded-lg cursor-pointer"
          >
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6"
                viewBox="0 0 512 512"
              >
                <rect
                  x="96"
                  y="224"
                  width="80"
                  height="192"
                  rx="20"
                  ry="20"
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="30"
                />
                <rect
                  x="240"
                  y="176"
                  width="80"
                  height="240"
                  rx="20"
                  ry="20"
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="30"
                />
                <rect
                  x="383.64"
                  y="112"
                  width="80"
                  height="304"
                  rx="20"
                  ry="20"
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="30"
                />
              </svg>
            </span>
            <h2 class="font-semibold tracking-widest">Visualization</h2>
          </div>
        </a>
      -->
        <a href="{{ '/admin/history?page=1' }}">
          <div
            class="flex items-center gap-5 {% if active == 'history' %} bg-shadeblue stroke-primary text-primary {%else%} stroke-blacktwo text-blacktwo {%endif%} px-4 xxl:px-6 py-3 xxl:py-4 rounded-lg cursor-pointer"
          >
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6"
                viewBox="0 0 512 512"
              >
                <rect
                  x="96"
                  y="48"
                  width="320"
                  height="416"
                  rx="48"
                  ry="48"
                  fill="none"
                  stroke="currentColor"
                  stroke-linejoin="round"
                  stroke-width="30"
                />
                <path
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="30"
                  d="M176 128h160M176 208h160M176 288h80"
                />
              </svg>
            </span>
            <h2 class="font-semibold tracking-widest">History</h2>
          </div>
        </a>

       <hr class="border-shadeblack/30 my-2" />
       {%for group in sidebar_groups%} {%if group_name and group_item%}
        <a href="{{ '/admin/%s/%s' % (group_name, group) }}">
          <div
            class="flex items-center gap-5 stroke-blacktwo text-blacktwo px-4 xxl:px-6 py-3 xxl:py-4 rounded-lg cursor-pointer"
          >
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6"
                viewBox="0 0 512 512"
              >
                <path
                  d="M64 192v-72a40 40 0 0140-40h75.89a40 40 0 0122.19 6.72l27.84 18.56a40 40 0 0022.19 6.72H408a40 40 0 0140 40v40"
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="30"
                />
                <path
                  d="M479.9 226.55L463.68 392a40 40 0 01-39.93 40H88.25a40 40 0 01-39.93-40L32.1 226.55A32 32 0 0164 192h384.1a32 32 0 0131.8 34.55z"
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="30"
                />
              </svg>
            </span>
            <h2 class="font-semibold tracking-widest">{{group}}</h2>
          </div>
        </a>
        {%else%}
        <a href="{{ '%s' % group }}">
          <div
            class="flex items-center gap-5 stroke-blacktwo text-blacktwo px-4 xxl:px-6 py-3 xxl:py-4 rounded-lg cursor-pointer"
          >
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6"
                viewBox="0 0 512 512"
              >
                <path
                  d="M64 192v-72a40 40 0 0140-40h75.89a40 40 0 0122.19 6.72l27.84 18.56a40 40 0 0022.19 6.72H408a40 40 0 0140 40v40"
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="30"
                />
                <path
                  d="M479.9 226.55L463.68 392a40 40 0 01-39.93 40H88.25a40 40 0 01-39.93-40L32.1 226.55A32 32 0 0164 192h384.1a32 32 0 0131.8 34.55z"
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="30"
                />
              </svg>
            </span>
            <h2 class="font-semibold tracking-widest">{{group}}</h2>
          </div>
        </a>
        {%endif%} {%endfor%}
      </div>
    </div>
    <div class="text-center">
      <h6 id="current-year" class="text-shadeblack font-medium"></h6>
    </div>
  </div>
</main>

<script>
  // Get the current year
  const currentYear = new Date().getFullYear();

  // Update the content of the <h6> element with the current year
  const currentYearElement = document.getElementById('current-year');
  currentYearElement.innerHTML = `© ${currentYear} <b>GreatAPI</b>`;
</script>
